.card-system {
border: none;
}
.card-footer-system{
    border: none;
    background-color: aliceblue;
}
.input-1{
    border: none;

}
.slide-share-1{
    background-color:rgb(234, 240, 239);
    border-radius:10px;
}